@model IEnumerable<Product>

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-hover table-light">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td class="py-2 text-primary">@product.Name</td>
                    <td class="py-2">@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}