@section title {
    <h1>Categories</h1>
}

<ul>
    <li>
        <a href="/categories/edit/1">Cans</a>
    </li>
    <li>
        <a href="/categories/edit/2">Snacks</a>
    </li>
    <li>
        <a href="/categories/edit/3">Toys</a>
    </li>
</ul>