@using WebApp.Models;
@model List<Category>

@section title {
    <h1>Categories</h1>
}

<ul>
    @foreach(var category in Model)
    {
        <li>
            @category.Name
        </li>
    }
</ul>