@model SalesViewModel

@section title {
    <div class="row">
        <div class="col-7"><h3>Cashier's Console</h3></div>
        <div class="col-2"><label for="cashier">Cashier Name:</label></div>
        <div class="col-3">
            @* Display Cashier's name here *@
        </div>
    </div>
}

<div class="row">
    <div class="col-4">
        @* Category selection *@
        <h6 class="mb-3">Please select a category</h6>
        <select asp-for="SelectedCategoryId" class="form-control">
            <option>- Please Select -</option>
            @if (Model.Categories != null && Model.Categories.Count() > 0)
            {
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
            }
        </select>
        <br />
        <div id="productsPartial">
            @* Product List *@
        </div>
        <br />
        <div>
            @* Product Details *@
        </div>
        @* Sales form *@
    </div>
    <div class="col">
        @* List of transactions *@
    </div>
</div>

@section Scripts {
    <script>
        // JQuery
        $(function () {
            // handle category selection
            $("#SelectedCategoryId").on("change", function () {
                $("#productsPartial").load("/products/ProductsByCategoryPartial", { categoryId: $(this).val() });
            })

            // handle product selection
            $("#productsPartial").on('click', '.product-row', function () {
                // highlight the row selected
                $('.product-row').removeClass('highlight');
                $(this).addClass('highlight');
            });
        });
    </script>
}